server:
  port: 8080
---
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/DanteDB
    username: root
    password: Sql123.
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    show_sql: true
    hibernate:
      ddl_auto: create-drop
  servlet:
    multipart:
      max-file-size: 128MB
      max-request-size: 128MB
  mail:
    host: smtp.sendgrid.net
    port: 587
    username: apikey
    password: *
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days



    email: dantessandwich@gmail.com

    pass:  Dante'sSandwich3@

